# Ignore virtual environment
venv/
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
*.sqlite3
*.db

# Ignore logs
*.log
logs/
instance/

# Ignore editor and OS-specific files
.vscode/
.idea/
