*{
    margin: 0px;
}

#main,#abc{
    border: 2px solid rgb(16, 14, 14);
}

#abc{
    width: 60%;
    height: auto;
    margin: 800px;
}

#form-body{
    width:330px;
    height: 400px;
    margin: auto;
    border: 1px solid grey;
    margin-top: 200px;
    border-radius: 5px;


}