{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Admin Dashboard Summary</h2>

    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <div class="card p-3 text-center">
                <h5>Total Users</h5>
                <h3 class="text-primary">{{ total_users - 1 }}</h3>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card p-3 text-center">
                <h5>Total Quizzes</h5>
                <h3 class="text-success">{{ total_quizzes }}</h3>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card p-3 text-center">
                <h5>Total Questions</h5>
                <h3 class="text-warning">{{ total_questions }}</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-4">
                <h4 class="text-center"></h4>
                <div class="d-flex justify-content-center">
                    <img src="data:image/png;base64,{{ quiz_attempts_chart }}" class="img-fluid rounded shadow-lg" alt="Most Attempted Quizzes" style="max-width: 90%;">
                </div>
            </div>
            <div class="col-md-10 mb-4">
                <h4 class="text-center"></h4>
                <div class="d-flex justify-content-center">
                    <img src="data:image/png;base64,{{ subject_attempts_chart }}" class="img-fluid rounded shadow-lg" alt="Quiz Attempts Per Subject" style="max-width: 90%;">
                </div>
            </div>
            <div class="col-md-10 mb-4">
                <h4 class="text-center"></h4>
                <div class="d-flex justify-content-center">
                    <img src="data:image/png;base64,{{ extremes_chart }}" class="img-fluid rounded shadow-lg" alt="Highest & Lowest Scores" style="max-width: 90%;">
                </div>
            </div>
        </div>
    </div>
    <!-- <div>......../.........................</div> -->
    
    
{% endblock %}
